<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iFixit Progressive Web App</title>
    <link rel="icon" sizes="192x192" href="/images/fist-enclosed-black.png">
    <link rel="manifest" href="/manifest.json">
    <base target="_blank">
    <style>
      {{inlineStyles}}
    </style>
  </head>
  <body>
    <main>{{{reactHtml}}}</main>
    <script>
      window.__STATE__ = {{{state}}};
    </script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js');
      }
    </script>
    <link rel="stylesheet" href="/rev/{{revManifest.[styles/all.css]}}">
    <script src="/rev/{{revManifest.[js/third-party.js]}}"></script>
    <script src="/rev/{{revManifest.[js/app.js]}}"></script>
  </body>
</html>
