<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iFixit Progressive Web App</title>
    <link rel="icon" sizes="192x192" href="/images/fist-enclosed-black.png">
    <link rel="manifest" href="/manifest.json">
    <base target="_blank">
    <style>
      {{inlineStyles}}
    </style>
  </head>
  <body>
    <main>{{{reactHtml}}}</main>
    <script>
      window.__STATE__ = {{{state}}};
    </script>
    <script>
      (function() {
        var linkElement = document.createElement('link');
        linkElement.rel = 'stylesheet';
        linkElement.type = 'text/css';
        linkElement.media = 'screen';
        linkElement.href = '/rev/{{revManifest.[styles/all.css]}}';
        document.querySelector('head').appendChild(linkElement);
      })();
    </script>
    <script src="/rev/{{revManifest.[js/third-party.js]}}"></script>
    <script src="/rev/{{revManifest.[js/app.js]}}"></script>
    <script src="/rev/{{revManifest.[js/register-service-worker.js]}}"></script>
  </body>
</html>
